html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    background-color: coral;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
 
    .nav-list a:hover{
        background: blue;
    }

body{
    margin: 0;
}

.nav-list{
    display: flex;
}

li{
    list-style-type: none;
}


#welcome-section{
    background-color: antiquewhite;
}