*{
    margin: 0;
    box-sizing: border-box;
}

.pokemonGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene{
    width: 200px;
    height: 260px;
    border: 1px solid white;
    margin: 10px;
    perspective: 600px;
}

.card{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card__face--front{
    background: red;
}

.card__face--back{
    background: rgb(53, 58, 59);
    color: rgb(202, 210, 212);
    transform: rotateY(180deg);
}

.card.is-flipped{
    transform: rotateY(180deg);
}