.root{
    margin: 0;
    box-sizing: border-box;
}

.main{
    margin: 10rem 5rem 0 20rem;
}


.container{
    display: flex;
}
h1{
    font-size: 5rem;
}
header, footer{
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    color: rgb(220, 233, 42);
}

a{
    text-decoration: none;
    font-size: 1.5rem;
}

li{
    list-style-type: none;
    text-align: center;
}