html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    background-color: coral;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
 
    .nav-list a:hover{
        background: blue;
    }

body{
    margin: 0;
}

.nav-list{
    display: flex;
}

li{
    list-style-type: none;
}


#welcome-section{
    background-color: antiquewhite;
}
projects-section{
    text-align: center;
    padding: 10rem 2rem;
    background: #45567d;
}

.projects-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
a{
    text-decoration: none;
    color: #f0f0f0;
}

.contact-links{
    display: flex;
    justify-content: center;
    width: 100%;
}
    
    .contact-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 80vh;
        padding: 0 2rem;
        background: #303841;
      }

      .contact-details{
          font-size: 2.4rem;
          text-shadow: 
      }
/*.project{
    background: #ccc;
    box-shadow: 1px 1px 2px rgba(0, 0, 0 , 0.5);
    border-radius: 2px;
}*/

/*.project-image{
    height:calc(100% - 6.8rem);
    width: 100%;
    object-fit:cover;
}*/
